Repository voxpupuli/puppet-lldpd, pull requests merged in 2018-08, with the labels that each got.

#51 allow puppetlabs/apt 5.x
  metadata.json
Labels: enhancement

#52 modulesync 1.9.6
  .msync.yml
  .travis.yml
  Gemfile
  spec/spec_helper_acceptance.rb
Labels: modulesync

#53 fix typo in file name; yml -> yaml
  data/RedHat-7.yaml
Labels: bug
