Repository voxpupuli/puppet-lldpd, pull requests merged in 2022-07, with the labels that each got.

#127 Add Rocky Linux support
  data/Rocky.yaml
  metadata.json
Labels: enhancement

#130 apt: set gpg key checksum ensure=file
  REFERENCE.md
  manifests/init.pp
  spec/setup_acceptance_node.pp
Labels: bug

#131 fact: Add support for single interfaces
  lib/facter/lldp.rb
  spec/unit/facter/lldp_spec.rb
Labels: bug

#132 Drop legacy gpgkeyfingerprint parameter
  REFERENCE.md
  manifests/init.pp
Labels: backwards-incompatible

#133 drop legacy timer code
  manifests/init.pp
  spec/classes/lldpd_spec.rb
Labels: backwards-incompatible

#134 Release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#135 fix package/service order of operations
  manifests/init.pp
  spec/classes/lldpd_spec.rb
Labels: bug

#136 release 4.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
