Repository voxpupuli/puppet-lldpd, pull requests merged in 2022-10, with the labels that each got.

#142 Update apt repository key checksums
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  Dockerfile
  Gemfile
  README.md
  Rakefile
  data/Debian.yaml
  manifests/init.pp
  spec/spec_helper.rb
Labels: backwards-incompatible

#143 modulesync 5.3.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  Dockerfile
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#141 puppetlabs-apt: update minimum version from 4.4.0 to 8.1.0
  metadata.json
Labels: bug
